# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
.build/
.dist/

# Envs
.venv/
.env
.env.*
!.env.example

# IDE
.vscode/
.idea/
.DS_Store

# Tests
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/

# Notebooks
.ipynb_checkpoints/

# HuggingFace cache
~/.cache/huggingface/
**/huggingface/**
**/models--*/

# Gradio
gradio_cached_examples/
